$paddingLeft: 65px;

%nav {
    font-family: "Montserrat";
    font-weight: 600;
    letter-spacing: 2px;
}

%miniTitle {
    font-family: "Times New Roman";
    font-weight: 500;
    letter-spacing: 2px;
}
