@import "_variables";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caladea:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Caladea", serif;
  padding-top: 70px;
  & > *:not(.footer) {
    padding: 0px 140px;
  }
}
a {
  color: inherit;
  text-align: center;
  border: 1px solid black;
  text-decoration: none;
  text-align: center;
  color: black;
  transition: color 0.3s linear, background 0.3s linear;
  font-size: 10px;
  font-weight: 700;
  padding: 20px 0px;
  @extend %miniTitle;
  &:hover {
    background-color: black;
    color: white;
  }
}
header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: white;
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  z-index: 1;

  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  ul {
    display: flex;
    text-transform: uppercase;
    font-size: 10px;

    &:first-child {
      li {
        margin-right: 42px;
        @extend %nav;
      }
    }
    &:nth-child(2) {
      li {
        margin-right: 225px;
        @extend %nav;
      }
    }
    li {
      @extend %nav;
    }
  }
}

.banner_top {
  height: 100vh;
  background-image: url("../../image/banner_top.jpeg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 140px;
  margin-bottom: 80px;
  h4 {
    font-size: 10px;
    font-weight: 700;
    margin-bottom: 30px;
    @extend %miniTitle;
  }
  h3 {
    width: 32%;
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
    @extend %miniTitle;
  }
  a {
    width: 18%;
  }
}

.banner_second {
  width: 100%;
  height: 60%;
  display: flex;
  margin-bottom: 80px;

  .banner_second_image {
    width: 50%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .banner_second_text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f3ede8;
    h4 {
      font-size: 10px;
      font-weight: 700;
      margin-bottom: 30px;
      color: rgb(65, 65, 65);
      @extend %miniTitle;
    }
    h3 {
      width: 50%;
      font-size: 24px;
      text-align: center;
      line-height: 38px;
      margin-bottom: 30px;
      color: rgb(65, 65, 65);
      @extend %miniTitle;
    }
    a {
      width: 40%;
    }
  }
}

.blog {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 57vh);
  margin-bottom: 80px;
  .blog_post {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: 100%;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    &:nth-child(odd) {
      img {
        order: -2;
      }
    }
  }
  .post_content {
    order: -1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f3ede8;
    .post_date {
      font-size: 10px;
      font-weight: 700;
      margin-bottom: 30px;
      color: rgb(65, 65, 65);
      @extend %miniTitle;
    }
    h3 {
      width: 60%;
      font-size: 24px;
      text-align: center;
      line-height: 38px;
      margin-bottom: 30px;
      color: rgb(65, 65, 65);
      @extend %miniTitle;
    }
    a {
      width: 30%;
    }
  }
}

.gallery {
  width: 100%;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  gap: 0px;
  margin-bottom: 80px;
  .gallery_poster {
    height: 100%;
    img {
      max-width: 100%;
      // transition: opacity 0.3s linear;
      &:hover {
        cursor: pointer;
        opacity: 0.5;
      }
    }
  }
}

.footer {
  padding: 0px 0px;
  background-color: #f3ede8;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 65px 140px;
  .footer_column {
    display: flex;
    flex-direction: column;
    align-items: center;
    .column_title{
      @extend %miniTitle;
      font-size: 10px;
      margin-bottom: 30px;
      opacity: 0.5;
    }
    ul{
      text-align:center;
    }
    li {
      font-size: 10px;
      @extend %nav;
      margin-bottom: 10px;
    }
    &:nth-child(2){
      border-right: 1px solid black;
      border-left: 1px solid black;
    }
  }
}
